<div class="row">
    <div class="col-sm-8">
        <h2>

            IdentityServer publishes a
            <a href="~/.well-known/openid-configuration">discovery document</a>
            where you can find metadata and links to all the endpoints, key material, etc.
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h2>
            Here are links to the
            <a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
            and <a href="https://github.com/identityserver/IdentityServer4.Samples">ready to use samples</a>.
        </h2>
    </div>
</div>