
<script>
    $(document).ready(function () {
       

        $('#myCarousel').carousel({
            interval: 8000,
            pause:'cycle'
        });



    });


</script>

<div class="container body-content">
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Images/home_api.jpg" style="height:300px;width:100%" alt="First slide">
            </div>
            <div class="item">
                <img src="~/Images/home_cloudserver.jpg" style="height:300px; width:100%" alt="Second slide">
            </div>
            <div class="item">
                <img src="~/Images/home_sso.jpg" style="height:300px;width:100%;" alt="Third slide">
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Getting started to build you software</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Document</h2>
            <p>
                This describes the resources that make up the official DpControl API v1
            </p>
            <p>
                <a class="btn btn-primary" href="/Home/DeveloperDoc">More &raquo;</a>
                 
            </p>
        </div>
        <div class="col-md-4">
            <h2>API</h2>
            <p>
                Get started with api 
            </p>
            <p>
                <environment names="Development">
                    <a class="btn btn-primary" href="http://localhost:37936">More &raquo;</a>
                </environment>
                <environment names="Staging,Production">
                    <a class="btn btn-primary" href="http://dpcontrol.chinacloudsites.cn">More &raquo;</a>
                </environment>
            </p>
        </div>
        <div class="col-md-4">
            <h2>API Monitor</h2>
            <p>Use Api Monitor to check you api status</p>
            <p><a class="btn btn-danger" href="/Home/DeveloperDoc">More &raquo;</a></p>
        </div>
        
    </div>
    <div class="row">
        
        <div class="col-md-4">
            <h2>Idsv4</h2>
            <p>Konw more about IdentityServer4</p>
            <p><a class="btn btn-success" href="/Home/AboutIdsv">More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Blog</h2>
            <p>Write you blog here</p>
            <p><a class="btn btn-danger" href="/Home/Blog">More &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>About</h2>
            <p>Konw more about us</p>
            <p><a class="btn btn-success" href="/Home/AboutUs">More &raquo;</a></p>
        </div>
    </div>
</div>
<hr />
<footer>
    <p>&copy; @DateTime.Now.ToString("yyyy/MM/dd") - Padmate</p>
</footer>


