@using IdentityServer4.Core.Models;
@using AuthorizationServer.Models;
@model AuthorizationServer.UI.Settings.ClientViewModel
@inject  ScopeConfigurationContext _scopeContext


<style>
    .nav-tabs > li {
        margin-bottom: -1px;
        clear: both;
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a id="UserManage" href="#divUserManage">Users</a></li>
            <li><a id="RoleManage" href="#divRoleManage">Roles</a></li>
            <li><a id="ClientManage" href="#divClientManage">Clients</a></li>
            <li><a id="ScopeManage" href="#divScopeManage">Scopes</a></li>
            
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane active" id="divUserManage"> </div>
            <div class="tab-pane" id="divRoleManage"></div>
            <div class="tab-pane" id="divClientManage"></div>
            <div class="tab-pane" id="divScopeManage"></div>
            
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {
         
        LoadTab("divUserManage", "/Settings/UserManage");
        $('#myTab a:first').tab('show');//初始化显示哪个tab
       
        $('#myTab a').click(function (e) {
            
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
            //加载链接内容
            var aId = this.id;
            var tabUrl = "/Settings/" + aId;
            var tabId = "div"+aId;
            LoadTab(tabId,tabUrl);

           
        })
        
    });

    function LoadTab(id,url) {
        //加载两次，否则右上角的下拉会无效？
        $("#" + id).load(url);
        $("#" + id).load(url);
    }

</script>