@using IdentityServer4.Core.Models;
@using AuthorizationServer.Models;
@model AuthorizationServer.UI.Settings.ClientViewModel
@inject  ScopeConfigurationContext _scopeContext


<style>
    .nav-tabs > li {
        margin-bottom: -1px;
        clear: both;
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a id="aclient" href="#clients">Clients</a></li>
            <li><a id="ascope" href="#scopes">Scopes</a></li>
            <li><a id="arole" href="#roles">Roles</a></li>
            <li><a id="auser" href="#users">Users</a></li>

        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane active" id="clients"></div>
            <div class="tab-pane" id="scopes"></div>
            <div class="tab-pane" id="roles"></div>
            <div class="tab-pane" id="users"> </div>
        </div>

    </div>
</div>

<script>


    $(document).ready(function () {
         
        var tabUrl = "/Settings/ClientManage";
        $("#clients").load(tabUrl);
         $('#myTab a:first').tab('show');//初始化显示哪个tab
       
        $('#myTab a').click(function (e) {
            
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
            //加载链接内容
            var aId = this.id;
            if (aId == "aclient")
            {
                var tabUrl = "/Settings/ClientManage";
                $("#clients").load(tabUrl);
            } else if (aId == "ascope")
            {
                var tabUrl = "/Settings/ScopeManage";
                $("#scopes").load(tabUrl);
            } else if (aId == "arole")
            {
                var tabUrl = "/Settings/RoleManage";
                $("#roles").load(tabUrl);

            } else if (aId == "auser") {
                var tabUrl = "/Settings/UserManage";
                $("#users").load(tabUrl);
            }

           
        })
        
    });

    
</script>