@using IdentityServer4.Core.Models;
@model AuthorizationServer.UI.Settings.ClientViewModel



<style>
    .nav-tabs > li {
        margin-bottom: -1px;
        clear: both;
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a id="aproject" href="#projects">Projects</a></li>
            <li><a id="aclient" href="#clients">Clients</a></li>
            <li><a href="#scopes">Scopes</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane active" id="projects">profile</div>
            <div class="tab-pane" id="clients">
                <div class="col-md-6">
                    <!--Form-->
                    <form asp-controller="Settings" asp-action="Client" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="tbClientId" class="col-sm-3 control-label">ClientID：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="ClientId" id="tbClientId"
                                       placeholder="ClientID" required
                                       oninvalid="setCustomValidity('ClientId is required')" oninput="setCustomValidity('')">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tbClientName" class="col-sm-3 control-label">ClientName：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="ClientName" id="tbClientName"
                                       placeholder="ClientName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tbClientUri" class="col-sm-3 control-label">ClientUri：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="ClientUri" id="tbClientUri"
                                       placeholder="ClientUri">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tbClientSecret" class="col-sm-3 control-label">ClientSecret：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" asp-for="ClientSecret" id="tbClientSecret"
                                       placeholder="ClientSecret">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="taScopes" class="col-sm-3 control-label">AllowScopes：</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" id="taScopes" asp-for="AllowScope"></textarea>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="selFlow" class="col-sm-3 control-label">Flows：</label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="Flow">
                                    <option value="@Flows.AuthorizationCode">AuthorizationCode Flow</option>
                                    <option value="@Flows.Implicit">Implicit Flow</option>
                                    <option value="@Flows.ResourceOwner">ResourceOwner Flow</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="taRedirectUri" class="col-sm-3 control-label">RedirectUris：</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" asp-for="RedirectUri"></textarea>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" asp-for="RequireConsents"> Require Consents
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div asp-validation-summary="ValidationSummary.All" class="marginBottom" style="font-size:medium;color:red;"></div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-default">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div id="toolbar"></div>
                    <table id="clientTable"></table>
                </div>
            </div>
            <div class="tab-pane" id="scopes">messages.</div>
        </div>

    </div>
</div>

<script>

    var listType = '@ViewData["ListType"]';
    $(document).ready(function () {
        if (listType == "")
        {
            $('#myTab a:first').tab('show');//初始化显示哪个tab

        }else{
            $('#a'+listType).tab('show');//显示哪个tab

        }


        $('#myTab a').click(function (e) {
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
        })

        InitClientTable();
    });

    

    function InitClientTable() {
        $('#clientTable').bootstrapTable({
            height: 500,
            method: 'post',                 //The method type to request remote data.
            url: '/Settings/GetClientsPageData',
            dataType: "json",               //The type of data that you are expecting back from the server.
            contentType: 'application/json',
            pagination: true,               //True to show a pagination toolbar on table bottom.
            pageSize: 10,                   //初始化每页显示几条
            pageNumber: 1,                   //初始化在第几页
            pageList: [10, 25, 50, 100, 200, 'All'],
            sidePagination: "server",       //服务端请求
            idField: 'Id',
            toolbar: '#toolbar',
            showRefresh: true,
            search: true,
            queryParams: ConstructQueryParams,
            //queryParamsType: "limit",
            locale: 'en-US',
            singleSelect:true,
            columns: [
            {
                field: 'Id',
                title: 'Id',
                visible: false,
            },
            {
                field: 'ClientId',
                title: 'ClientId',
                sortable: true

            },
            {
                field: 'ClientName',
                title: 'ClientName'
            }
            ]

        });

    }

    function ConstructQueryParams(param) {
        var params = {
            limit: param.limit, //页面大小
            offset: param.offset,//偏移数量
            page: param.offset / param.limit, //页码
        };
        return params;
    }
    
</script>