<style>
     #divContent>.container {
        width:100%;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <!--Form-->
        <form action="#" class="form-horizontal" role="form" name="roleForm">
            <div style="height:400px;">
                <div class="form-group hidden">
                    <label class="col-sm-3 control-label">Id：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="tbId">
                    </div>
                </div>
                <div class="form-group">
                    <label for="tbName" class="col-sm-3 control-label">Name：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="tbName" required
                                oninvalid="setCustomValidity('Name is required')" oninput="setCustomValidity('')">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" class="btn btn-warning" id="btnRoleSave">保存</button>
                    <button type="button" class="btn btn-primary" id="btnRoleEdit">修改</button>
                    <button type="button" class="btn btn-danger" id="btnRoleDelete">删除</button>

                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <table id="roleTable"></table>
    </div>
    
</div>


<!--Script要放在HTML标签后，才能将值绑定到标签-->
<script type="text/javascript">

    var ShowAddButton = "add";
    var ShowEditAndDeleteButton = "edit_delete";

    $(document).ready(function () {
        InitTable();
        InitButton();
        ChangeButtonStatus(ShowAddButton);
    });

    function InitTable() {
        $('#roleTable').bootstrapTable({
            height: 500,
            method: 'post',                 //The method type to request remote data.
            url: '/Settings/GetRolePageData',
            dataType: "json",               //The type of data that you are expecting back from the server.
            contentType: 'application/json',
            pagination: true,               //True to show a pagination toolbar on table bottom.
            pageSize: 10,                   //初始化每页显示几条
            pageNumber: 1,                   //初始化在第几页
            pageList: [10, 25, 50, 100, 200, 'All'],
            sidePagination: "server",       //服务端请求
            idField: 'Id',
            showRefresh: true,
            search: true,
            queryParams: ConstructQueryParams,
            // queryParamsType: "limit",
            locale: 'en-US',
            columns: [{
                checkbox: true
            },
            {
                field: 'Id',
                title: 'Id',
                visible: false
            },
            {
                field: 'Name',
                title: 'Name'
            },
            {
                field: 'NormalizedName',
                title: 'NormalizedName'
            }
            ],
            onClickRow: function (row, element) {
                //清空所选行
                $('#roleTable').bootstrapTable('uncheckAll');

                //选中所选行
                var rowIndex = element[0].rowIndex;
                $('#roleTable').bootstrapTable('check', rowIndex-1);

                SetRoleDetail(row);
                ChangeButtonStatus(ShowEditAndDeleteButton);

            }
        });
    }

    function ConstructQueryParams(param) {
        var params = {
            limit: param.limit, //页面大小
            offset: param.offset,//偏移数量
            page: param.offset / param.limit, //页码

        };
        return params;
    }

    function InitButton() {
        $("#btnRoleSave").click(function () {
            var roleName = $("#tbName").val(); 
            if (roleName.trim() == "") {
                layer.alert("Please Input Role Name", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            $.ajax({
                type: "post",//使用post方法访问后台
                dataType: "json",//返回json格式的数据
                url: "/Settings/CreateRole",
                data: { "RoleName": roleName },
                async: false,
                success: function (message) {
                    if (message.Success) {
                        
                        //重新加载
                        Search();
                    } else {
                        
                        layer.alert(message.Content, {
                            skin: 'layui-layer-lan'
                            , closeBtn: 0
                            , shift: 4 //动画类型
                        });

                    }

                }
            });
        });

        $("#btnRoleEdit").click(function () {
            layer.alert("Edit is not enabled", {
                skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
            });
        });

        $("#btnRoleDelete").click(function () {

            var selections = $('#roleTable').bootstrapTable('getSelections');
            if (selections.length == 0) {
                layer.alert("Please select records", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            var roleIds = [];
            for (var i = 0; i < selections.length; i++) {
                var id = selections[i].Id;
                roleIds.push(id);
            }
            //delete records
            var jsonRoleIds = JSON.stringify(roleIds);
            $.ajax({
                type: "get",//使用get方法访问后台
                dataType: "json",//返回json格式的数据
                url: "/Settings/BachDeleteByRoleId",
                data: { "RoleIds": jsonRoleIds },
                async: false,
                success: function (message) {
                    if (message.Success) {
                        //重新加载
                        Search();
                    } else {

                        layer.alert(message.Content, {
                            skin: 'layui-layer-lan'
                            , closeBtn: 0
                            , shift: 4 //动画类型
                        });

                    }

                }
            });
        });
    }

    function EmptyRoleDetail() {
        SetRoleDetail(null);
    }
    function SetRoleDetail(role) {

        if (role != null) {
            $("#tbId").val(role.Id);
            $("#tbName").val(role.Name);
            
        } else {
            $("#tbId").val("");
            $("#tbName").val("");
           

        }
    }

    function Search() {
        //重新加载
        $('#roleTable').bootstrapTable('refresh');
        //清空输入框
        EmptyRoleDetail();
        //按钮初始化
        ChangeButtonStatus(ShowAddButton);
    }

    function ChangeButtonStatus(eventType) {
        if (eventType == ShowAddButton) {
            $("#btnRoleSave").show();
            $("#btnRoleEdit").hide();
            $("#btnRoleDelete").hide();

        } else {
            $("#btnRoleSave").hide();
            $("#btnRoleEdit").show();
            $("#btnRoleDelete").show();
        }
    }

</script>
