
<div class="row">
    <div class="col-md-9">
        <div class="panel-group" id="divSearch">
            <div class="panel panel-danger">
                <div>
                    <div style="float:left;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group has-success">
                                <label class="col-sm-1 control-label text-right fa-align-center">Name</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="name">
                                </div>

                                <label class="col-sm-3 control-label text-right">NormalizedName</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="normalizedName">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div style="float:right;">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#divSearch"
                                   href="#divAdvancedSearch" class="glyphicon glyphicon-chevron-up">
                                    高级检索
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                </div>

                <div id="divAdvancedSearch" class="panel-collapse collapse">
                    <div class="panel-body">
                        添加其余查询条件
                    </div>
                </div>
            </div>
        </div>
        <div id="toolbar">
            <a class="btn btn-primary" href='#RoleAddModel' data-toggle='modal'>
                <span class="iconfa-book">Add</span>
            </a>
            <button id="btnRoleEdit" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>Edit
            </button>
            <button id="btnRoleDelete" class="btn btn-danger">
                <i class="glyphicon glyphicon-remove"></i> Delete
            </button>

        </div>
        <table id="table"></table>
    </div>
    <div class="col-md-3"></div>
    
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="RoleAddModel" tabindex="-1" role="dialog"
     aria-labelledby="roleModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="roleModalLabel">
                    Add Roles
                </h4>
            </div>
            <div class="modal-body" style="height:200px;">
                <div class="span4">
                    <label class="modallabel">Name</label>
                    <span class="field">
                        <input type="text" id="tbAddName" class="input-large">
                    </span>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn" id="btnRoleClose">取消</button>

                <button data-dismiss="modal" class="btn btn-primary" id="btnRoleAdd">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!--Script要放在HTML标签后，才能将值绑定到标签-->
<script type="text/javascript">

    $(document).ready(function () {
        InitTable();
        InitToolBarButton();
        //model hide event
        $('#RoleAddModel').on('hide.bs.modal', function () {

            // clear input content
            $("#tbAddName").val("");
        });

    });


    //clost model
    function CloseAddModel() {
        //Index load html后，hide失效，
        //如果把当前html，写到Index,切Index不进行Load，则hide有效？
        //$("#RoleAddModel").hide();
        //$("#myModalTest").removeClass("in");
        //$(".modal-backdrop").remove();

       // $("#btnRoleClose").trigger("click");
    }

    function InitTable() {
        $('#table').bootstrapTable({
            height: 500,
            method: 'post',                 //The method type to request remote data.
            url: '/Settings/GetRolePageData',
            dataType: "json",               //The type of data that you are expecting back from the server.
            contentType: 'application/json',
            pagination: true,               //True to show a pagination toolbar on table bottom.
            pageSize: 10,                   //初始化每页显示几条
            pageNumber: 1,                   //初始化在第几页
            pageList: [10, 25, 50, 100, 200, 'All'],
            sidePagination: "server",       //服务端请求
            idField: 'Id',
            toolbar: '#toolbar',
            showRefresh: true,
            search: true,
            queryParams: ConstructQueryParams,
            // queryParamsType: "limit",
            locale: 'en-US',
            columns: [{
                checkbox: true
            },
            {
                field: 'Id',
                title: 'Id',
                visible: false
            },
            {
                field: 'Name',
                title: 'Name'
            },
            {
                field: 'NormalizedName',
                title: 'NormalizedName'
            }
            ]
        });
    }

    function ConstructQueryParams(param) {
        var params = {
            limit: param.limit, //页面大小
            offset: param.offset,//偏移数量
            page: param.offset / param.limit, //页码

        };
        return params;
    }

    function InitToolBarButton() {
        $("#btnRoleAdd").click(function () {
            var roleName = jQuery("#tbAddName").val();
            if (roleName.trim() == "") {
                layer.alert("Please Input Role Name", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            $.ajax({
                type: "post",//使用post方法访问后台
                dataType: "json",//返回json格式的数据
                url: "/Settings/CreateRole",
                data: { "RoleName": roleName },
                async: false,
                success: function (message) {
                    if (message.Success) {
                        debugger
                        //clost model
                        CloseAddModel();
                        //重新加载
                        Search();
                    } else {

                        layer.alert(message.Content, {
                            skin: 'layui-layer-lan'
                            , closeBtn: 0
                            , shift: 4 //动画类型
                        });

                    }

                }
            });
        });

        $("#btnRoleEdit").click(function () {
            layer.alert("Edit is not enabled", {
                skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
            });
        });

        $("#btnRoleDelete").click(function () {

            var selections = $('#table').bootstrapTable('getSelections');
            if (selections.length == 0) {
                layer.alert("Please select records", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            var roleIds = [];
            for (var i = 0; i < selections.length; i++) {
                var id = selections[i].Id;
                roleIds.push(id);
            }
            //delete records
            var jsonRoleIds = JSON.stringify(roleIds);
            $.ajax({
                type: "get",//使用get方法访问后台
                dataType: "json",//返回json格式的数据
                url: "/Settings/BachDeleteByRoleId",
                data: { "RoleIds": jsonRoleIds },
                async: false,
                success: function (message) {
                    if (message.Success) {
                        //重新加载
                        Search();
                    } else {

                        layer.alert(message.Content, {
                            skin: 'layui-layer-lan'
                            , closeBtn: 0
                            , shift: 4 //动画类型
                        });

                    }

                }
            });
        });
    }

    function Search() {
        //重新加载
        $('#table').bootstrapTable('refresh');
    }

</script>
