<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CloudServer</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/">
                    <span class="navbar-brand">
                        <img src="~/icon.png" class="icon-banner">
                        CloudServer
                    </span>
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right" show-if="User.Identity.IsAuthenticated">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Settings/Index">Configration</a></li>
                        <li class="divider"></li>
                        <li><a asp-route="Logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" show-if="!User.Identity.IsAuthenticated">
                <li><a asp-route="Login">Sign In</a></li>
                    
            </ul>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.ToString("yyyy/MM/dd") - Padmate</p>
        </footer>
    </div>
    
   
</body>
</html>
